// lib
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', defer)
script.
  window.jQuery || document.write('<script src="/js/vendor/jquery-3.3.1.min.js" defer><\\/script>')

block script
  script(src="/js/main.js", defer)