-
  /*
    const CONF_{NAME}  グローバル定数
    const P_{NAME}     ページ用定数
    const C_{NAME}     コンポーネント用定数
  */

  //- global settings
  const CONF_UPDATE_OG = 'yymmdd'; // OG画像変更時、パラメータも変えること！
  const CONF_ABSOLUTE_PATH = 'http://example.com/'; // 絶対パス
  const CONF_SVG_PATH = '/img/svg-sprite/sprite.svg';

    //- myPicture mixin settings
  const CONF_MEDIA = 'min'; // 'min' -> 'min-width' 'max' -> 'max-width'
  const CONF_MEDIA_WIDTH = [768]; // breakpoints
  const CONF_PER_EXTENSIONS = ['_sm', '_lg']; // xxx_sm.jpg xxx_lg.jpg

  //- page settings
  const CONF = {
    "top" : {
      "title": "＊＊＿＊＊",
      "description": "＊＊＿＊＊＿＊＊"
    },
    "foo" : {
      "title": "＊＊＿＊＊",
      "description": "＊＊＿＊＊＿＊＊"
    }
  };